button {
  font-family: inherit;
}

.removeUnavailableItems {
  margin-left: 10px;
}

mat-icon {
  cursor: pointer;
  margin-right: 10px;
}
.delete:hover {
  color: red;
}

.horizontalhalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 400px;
  margin-bottom: 15px;

  p {
    margin: 8px 0px;
  }
}
mat-form-field {
  margin-right: 10px;
}
