<div class="upperbar">
  <div class="subsection">
    <p>Telefoonnummer: 061234567</p>
    <p>Email: Email@test.nl</p>
  </div>
  <div class="subsection">
    <a>Contact</a>
    <a [routerLink]="['loginpage']">Inloggen of aanmelden</a>
  </div>
</div>

<div class="navigateMenu">
  <div class="logo">Logo</div>
  <div class="subsection">
    <a class="onHover" [routerLink]="['homepage']">Home</a>
    <a class="onHover" [routerLink]="['webshop']">Webwinkel</a>
    <a class="onHover" [routerLink]="['gemstone-functions']"
      >Edelstenen werking</a
    >
  </div>
</div>
