<div class="upperbar">
  <div class="subsection">
    <p>Telefoonnummer: 061234567</p>
    <p>Email: info@relaxwithgems.firebaseapp.com</p>
  </div>
  <div class="subsection">
    <a [routerLink]="['contact']">Contact</a>
    <a *ngIf="!isLoggedIn" [routerLink]="['loginpage']"
      >Inloggen of aanmelden</a
    >
    <div *ngIf="isLoggedIn">
      <a *ngIf="role != 'admin'" [routerLink]="['shopping-basket']"
        >Winkelmandje</a
      >
      <a *ngIf="role != 'admin'" [routerLink]="['account']">Account</a>

      <a *ngIf="role == 'admin'" [routerLink]="['admin-page']">Adminpagina</a>

      <a [routerLink]="['loginpage']" (click)="logOut()">Uitloggen</a>
    </div>
  </div>
</div>

<div class="navigateMenu">
  <div class="logo">Logo</div>
  <div class="subsection">
    <a class="onHover" [routerLink]="['']">Home</a>
    <a class="onHover" [routerLink]="['webshop']">Webwinkel</a>
    <a class="onHover" [routerLink]="['gemstone-functions']"
      >Edelstenen werking</a
    >
  </div>
</div>
