<div *ngIf="!isLoggedIn">
  <h1>Welcome!</h1>

  <form (ngSubmit)="submit(form.value)" #form="ngForm">
    <mat-form-field>
      <mat-label for="email"> Email </mat-label>
      <input
        matInput
        id="email"
        type="email"
        placeholder="email@test.nl"
        name="email"
        ngModel
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="password"> Wachtwoord </mat-label>
      <input
        matInput
        id="password"
        type="password"
        placeholder="password"
        name="password"
        ngModel
      />
    </mat-form-field>

    <br />

    <button
      mat-raised-button
      (click)="signup(form.value)"
      [disabled]="!form.valid"
    >
      Signup
    </button>

    <button
      mat-raised-button
      (click)="submit(form.value)"
      [disabled]="!form.valid"
    >
      Login
    </button>
  </form>
</div>

<div *ngIf="isLoggedIn">
  <button mat-raised-button (click)="logout()">Logout</button>
</div>
