.picture {
  height: 100%;
  background: linear-gradient(rgba(160, 47, 98, 0.2), rgba(160, 47, 98, 0.2)),
    url("../assets/gems.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: hsla(321, 15%, 90%, 0.9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.container {
  margin: 70px 60px;
}
