.picture {
  height: 100%;
  background-image: url("../assets/gems.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.background {
  height: 100%;
  margin: 0px 30px 0px 30px;
  background-color: rgba(225, 208, 219, 0.7);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.container {
  margin: 70px 60px;
}
