<div class="story">
  <h2>Wat zijn edelstenen?</h2>
  <p>
    Edelstenen zijn prachtige mineralen die al eeuwenlang verwerkt worden in
    sieraden. Ze onderscheiden zich van gewone stenen door hun schoonheid,
    duurzaamheid en zeldzaamheid. Elke edelsteen heeft een andere hardheid,
    waarvan de diamant de hardste edelsteen is en het meest waardevol. De
    bekendste edelstenen zijn robijn, saffier en smaragd. Veel mensen geloven
    dat edelstenen geneeskrachtige uitwerkingen hebben.
  </p>
</div>
